{% extends "templates/app.html.twig" %}

{% set isCreator = auth.user.id == class.id_creator %}

{% block title %}Class name{% endblock %}

{% block styleImports %}

	.masonry-container {
		-moz-column-count: 2;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 20px;
	    column-count: 3;
	    column-gap: 20px;
	}

	.masonry-container > div {
	    display: inline-block;
	    width: 100%;
	}

	@media (max-width: 992px) {
		.masonry-container {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
	}

	.show-badge-on-hover .badge {
		display: none;
	}

	.show-badge-on-hover:hover .badge {
		display: block;
	}

	/* Added to remove the problem of switching between two badges*/
	.badge {
		margin-left: 5px;
	}

	.list-group-item>.badge+.badge {
		margin-right: 0 !important;	
	}
	/* end*/

{% endblock %}

{% block content %}

	{% include "class/partials/class_pageHeader.html.twig" %}
	
	{% if info_userClass.isAdmin %}

		<div class="row">
			<div class="col-md-6">
				{% include "class/partials/class_adminDayForm.html.twig" %}
			</div>
			<div class="col-md-6">
				{% include "class/partials/class_adminSubjectForm.html.twig" %}
			</div>
		</div>

	{% endif %}

	<div class="row">

		<div class="col-md-12 masonry-container">

			{% for day in homeworkDays %}

				{% include "class/partials/class_dayPanel.html.twig" with day %}

			{% endfor %}

		</div>

	</div>

	{% if homeworkDays is empty %}

		<div class="alert alert-success">
			There are no homeworks to do.
		</div>				

	{% endif %}

	<script>
	
		$("[data-form=removeHomework-ajax]").click(function(ev) {

			ev.preventDefault();

			var data = "homeworkId=" + $(this).attr("data-homework-id");
			data += "&";
			data += "classTag=" + $(this).attr("data-class-tag");

			$.ajax({

				type: "POST",
				url: "{{ path_for('homework.removeHomework.ajax') }}",
				data: data,
				dataType: "json",

				elemToRemove: $(this).parent(),

				success: function(response) {
					
					if (response.status !== 201)
						alert("Error homework.removeHomework.ajax");

					var leftHomeworks = $(this.elemToRemove).parent().children("[data-title=homeworkPanel]").size();

					if (leftHomeworks === 1) {
						var dayPanel = $(this.elemToRemove).closest("[data-title=dayPanel]");
						dayPanel.remove();
					}

					$(this.elemToRemove).remove();

				}

			});

		});

		$("[data-form=completeHomework-ajax]").click(function(ev) {

			ev.preventDefault();

			var data = "homeworkId=" + $(this).attr("data-homework-id");
			data += "&";
			data += "classTag=" + $(this).attr("data-class-tag");

			$.ajax({

				type: "POST",
				url: "{{ path_for('homework.completeHomework.ajax') }}",
				data: data,
				dataType: "json",

				elemToComplete: $(this).parent(),
				badge: $(this),

				success: function(response) {
					
					if (response.status !== 201)
						alert("Error homework.completeHomework.ajax");

					$(this.elemToComplete).removeClass("list-group-item-default list-group-item-danger");

					$(this.elemToComplete).addClass("list-group-item-success");

					this.badge.hide();

					this.badge.siblings("[data-form=uncompleteHomework-ajax]").css({
						"display": ""
					});

				}


			});

		});

		$("[data-form=uncompleteHomework-ajax]").click(function(ev) {

			ev.preventDefault();

			var data = "homeworkId=" + $(this).attr("data-homework-id");
			data += "&";
			data += "classTag=" + $(this).attr("data-class-tag");

			$.ajax({

				type: "POST",
				url: "{{ path_for('homework.uncompleteHomework.ajax') }}",
				data: data,
				dataType: "json",

				elemToComplete: $(this).parent(),
				badge: $(this),

				success: function(response) {
					
					if (response.status !== 201)
						alert("Error homework.uncompleteHomework.ajax");

					$(this.elemToComplete).removeClass("list-group-item-success");

					$(this.elemToComplete).addClass("list-group-item-default");

					this.badge.hide();

					this.badge.siblings("[data-form=completeHomework-ajax]").css({
						"display": ""
					});

				}

			});

		});

	</script>


{% endblock %}

{% block scriptImports %}

{# TODO: add above script here #}

{% endblock %}
