<!DOCTYPE html>
<html>
<head>

	<title>{% block title %}Home{% endblock %} - Homeworks</title>

	<!-- NORMALIZE -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<style>

		body {
			padding-top: 80px;
		}

	</style>

</head>
<body>

	{% include "templates/partials/header.html.twig" %}
	
	<div class="container">
		{% include "templates/partials/flash.html.twig" %}
		
		{% block content %}{% endblock %}
	</div>

	{% include "templates/partials/footer.html.twig" %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>