<footer class="navbar navbar-default footer">
	<div class="container">
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav"></ul>
			
			<ul class="nav navbar-nav navbar-right">

				<li><a href="http://quantica.altervista.org/salimsalici">
					&copy; by Salim Salici
				</a></li>

			</ul>
		</div><!-- /.navbar-collapse -->

	</div>
</footer>